/* universal selector */
*{
    font-family: 'Courier New', Courier, monospace;
 }
 /* div selector */
 h1,h3{
    color: #b92b27;
 }
 
 #login{
    background-color: white;
 }
 /* id secector */
 #signup{
    background-color: #b92b27;
    color: white;
 }
 .upvote{
    background-color: green;
    color: yellow;
 }