div{
    height: 100px;
    width: 100px;
    background-color: green;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}
#static{
    background-color: yellow;
    position: static;
    top: 100px;
    left: 100px;
}
#relative{
    background-color: rgb(8, 91, 247);
    position: relative;
    top: 100px;
    left: 100px;
}
#absolute{
    background-color: rgb(158, 61, 12);
    position: absolute;
    top: 100px;
    left: 100px;
}
#fixed{
    background-color: gold;
    position: fixed;
    top: 100px;
    left: 100px;
}