section{
    margin-top: 100px;
}
section div{
    width: 200px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: #7aa874;
}
section div:nth-of-type(2n){
    background-color: #f7db6a;
}
section div:nth-of-type(3n){
    background-color: #ebb02d;
}
#one{
    transform:rotate(45deg) ;
}
#two{
    transform: scale(0.5);
}
#three{
    transform: translate(100px, 100px);
}
#four{
    transform: skew(30deg);
}
#shadow{
    width: 200px;
    height: 50px;
    background-color: rgb(255, 0, 0);
    box-shadow: 2px 2px 10px black;

}

#bg{
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url(super-snapper-ZsimLXUS_cY-unsplash.jpg);
    background-size: cover;

}